@page "/"

<h1>Table</h1>

<div class="controls">
    <button class="btn btn-primary" @onclick="Deal">Deal</button>
    <button class="btn btn-primary" @onclick="Reset">Reset</button>
</div>

<div class="community-cards">
    <span class="community-cards-label">Community Cards:</span>
    <CommunityCards Model=@_table.CommunityCards />
</div>

<div class="players">
    @for (int i = 0; i < _table.Players.Count; i++)
    {
        <Player Model=@_table.Players[i] Number=@i />
    }
</div>

@code
{
    private Table _table = new Table(8);

    private void Deal()
    {
        _table.DealAll();
        StateHasChanged();
    }

    private void Reset()
    {
        _table = new Table(8);
        StateHasChanged();
    }
}