<div class="player">
    Player @DisplayNumber
    <div class="cards">
        <CardComponent Model="@Model.Card1"/>
        <CardComponent Model="@Model.Card2"/>
    </div>
</div>

@code
{
    [Parameter]
    public int Number { get; set; }
    
    [Parameter]
    public Player Model { get; set; }

    private int DisplayNumber => Number + 1;
}
